useDynLib(kml)

export(
    "cld","clusterizLongData",
    "as.cld","as.clusterizLongData",
    "gald","generateArtificialLongData",    "plotCalinski"
)
exportMethods(
    "as.clusterizLongData",
    "choice",
    "kml",
    "plot",
    "plotTraj",
    "plotAll",
    "plotSubGroups",
    "expandPartition",
    "selectSupTrajSizeMin"
)
exportClasses(
    "ArtificialLongData",
    "ClusterizLongData",
    "Clusterization"
)

import(methods,graphics,clv)
