#useDynLib(kml)

export(
       ## ClusterLongData
       "cld","getClusters","getBestPostProba","gald","generateArtificialLongData",

       ## parKml
       "parKml","parALGO",

       ## kml, small functions
       "calculTrajFuzzyMean","affectFuzzyIndiv","calculTrajMean","affectIndiv","calculTrajMeanC","affectIndivC",
       ##"resizePartition","calculTrajMeanPoint","varNumAndName","adjustGraph3d

       ## Kml
       "fuzzyKmlSlow","kml","plot",
       # "kmlSlow",

       ## internal only, export for kml3d and (kmlFast) for kmlShape
       "kmlFast","expandStartingCond","cutScreen","fastOrSlow","choiceChangeParam","partPermut",".clusterLongData.choice"
       )


exportMethods(
              "clusterLongData",#"plotCriterion",
              "exportPartition",
              "choice"
              )

exportClasses(
              "ParKml",
#              "ParChoice",
#              "Clustering",
              "ClusterLongData"
              )

import(methods,longitudinalData,clv)#,rgl,misc3d)
